<?xml version="1.0"?>
<!--
  ~ Copyright 2018 Patriot project
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE module PUBLIC
      "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
      "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module deviceLabel="Checker">

   <!-- Checks for whitespace                               -->
   <!-- See http://checkstyle.sf.net/config_whitespace.html -->
   <module deviceLabel="FileTabCharacter"/>

   <module deviceLabel="TreeWalker">
      <!-- Checks for Javadoc comments.                     -->
      <!-- See http://checkstyle.sf.net/config_javadoc.html -->
      <module deviceLabel="JavadocMethod">
         <property deviceLabel="scope" value="public"/>
         <property deviceLabel="allowMissingPropertyJavadoc" value="true"/>
         <property deviceLabel="severity" value="warning" />
      </module>
      <module deviceLabel="JavadocType">
         <property deviceLabel="scope" value="public"/>
         <property deviceLabel="severity" value="warning" />
      </module>
      <module deviceLabel="JavadocStyle">
         <property deviceLabel="scope" value="public"/>
         <property deviceLabel="checkFirstSentence" value="false"/>
         <property deviceLabel="severity" value="warning" />
      </module>

      <!-- Checks for Naming Conventions.                  -->
      <!-- See http://checkstyle.sf.net/config_naming.html -->
      <module deviceLabel="ConstantName"/>
      <module deviceLabel="LocalFinalVariableName"/>
      <module deviceLabel="LocalVariableName"/>
      <module deviceLabel="MemberName"/>
      <module deviceLabel="MethodName"/>
      <module deviceLabel="PackageName"/>
      <module deviceLabel="ParameterName"/>
      <module deviceLabel="StaticVariableName"/>
      <module deviceLabel="TypeName"/>

      <!-- Checks for imports                              -->
      <!-- See http://checkstyle.sf.net/config_import.html -->
      <module deviceLabel="AvoidStarImport">
         <property deviceLabel="severity" value="warning" />
      </module>
      <module deviceLabel="IllegalImport"/> <!-- defaults to sun.* packages -->
      <module deviceLabel="RedundantImport"/>
      <module deviceLabel="UnusedImports"/>

      <!-- Checks for Size Violations.                    -->
      <!-- See http://checkstyle.sf.net/config_sizes.html -->
      <module deviceLabel="LineLength">
         <property deviceLabel="max" value="120"/>
      </module>
      <module deviceLabel="MethodLength">
         <property deviceLabel="max" value="30"/>
         <property deviceLabel="countEmpty" value="false"/>
      </module>
      <module deviceLabel="ParameterNumber"/>

      <!-- Modifier Checks                                    -->
      <!-- See http://checkstyle.sf.net/config_modifier.html -->
      <module deviceLabel="ModifierOrder"/>
      <module deviceLabel="RedundantModifier"/>

      <!-- Checks for blocks. You know, those {}'s         -->
      <!-- See http://checkstyle.sf.net/config_blocks.html -->
      <module deviceLabel="AvoidNestedBlocks"/>
      <module deviceLabel="LeftCurly">
         <property deviceLabel="option" value="eol"/>
      </module>
      <module deviceLabel="NeedBraces">
         <property deviceLabel="allowSingleLineStatement" value="true"/>
      </module>
      <module deviceLabel="RightCurly"/>

      <!-- Checks for common coding problems               -->
      <!-- See http://checkstyle.sf.net/config_coding.html -->
      <module deviceLabel="EmptyStatement"/>
      <module deviceLabel="EqualsHashCode"/>
      <module deviceLabel="MissingSwitchDefault"/>
      <module deviceLabel="SimplifyBooleanExpression"/>
      <module deviceLabel="SimplifyBooleanReturn"/>

      <!-- Checks for class design                         -->
      <!-- See http://checkstyle.sf.net/config_design.html -->
      <module deviceLabel="FinalClass"/>
      <module deviceLabel="InterfaceIsType"/>
      <module deviceLabel="VisibilityModifier"/>

      <!-- Miscellaneous other checks.                   -->
      <!-- See http://checkstyle.sf.net/config_misc.html -->
      <module deviceLabel="ArrayTypeStyle"/>
   </module>
</module>
