<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="biz.paluch.logging.gelf.log4j2">
   <Appenders>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <PatternLayout pattern="%d %-5p {%c} %m%n"/>
      </Console>
      <RollingFile name="ROLLING" fileName="./silverware.log" filePattern="./silverware.log.%d{yyyy-MM-dd}">
         <PatternLayout pattern="%d %-5p [%t] {%c} %m%n"/>
         <Policies>
            <TimeBasedTriggeringPolicy />
         </Policies>
         <DefaultRolloverStrategy max="10"/>
      </RollingFile>
      <Async name="ASYNC">
         <AppenderRef ref="ROLLING"/>
         <AppenderRef ref="CONSOLE"/>
      </Async>
      <Gelf name="gelf" host="udp:localhost" port="12201" version="1.1" extractStackTrace="true"
            filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
            originHost="%host{fqdn}" additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long">
         <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
         <Field name="level" pattern="%level" />
         <Field name="simpleClassName" pattern="%C{1}" />
         <Field name="className" pattern="%C" />
         <Field name="server" pattern="%host" />
         <Field name="server.fqdn" pattern="%host{fqdn}" />

         <!-- This is a static field -->
         <Field name="fieldName2" literal="fieldValue2" />

         <!-- This is a field using MDC -->
         <Field name="mdcField2" mdc="mdcField2" />
         <DynamicMdcFields regex="mdc.*" />
         <DynamicMdcFields regex="(mdc|MDC)fields" />
      </Gelf>
   </Appenders>
   <Loggers>
      <Logger name="com" level="info"/>
      <Logger name="org" level="info"/>
      <Logger name="io.silverware" level="info"/>
      <Logger name="io.silverware.demos.devconf2016" level="info"/>
      <Logger name="io.silverspoon.demos.devconf2016" level="info"/>
      <Root level="info">
         <AppenderRef ref="gelf" />
      </Root>
   </Loggers>
</Configuration>